.container
	.footer
		//- hr(style='margin: 30px 0 10px 0;')
		//- p &copy;&nbsp;
		//- 	a(href='#') code 4 Puerto Rico
		//- 	&nbsp;2013

link(rel='stylesheet', href='/css/bootstrap-responsive.min.css')
link(rel='stylesheet', href='/css/style.css')
script(src='/scripts/bootstrap.min.js')
script(src='/scripts/hf5.js')



block footer