extends layout

block content
	div#bg-img
		img(src="../img/otraGarita.jpg")
	div.container
		form(action="https://docs.google.com/forms/d/151K3RjZ4VWuQEOhOTUlo_sPL6mtJ3tvSQ6rflIGalMs/formResponse", method="POST", id="ss-form", target="_self", onsubmit="").form-signin
			h2.form-signin-heading Todos juntos...
			input.form-control(type="text", name="entry.1756228214", value="",  dir="auto", aria-label="e-mail e-mail ", title="").ss-q-short#entry_1756228214
			button(type="submit", name="submit", value="Submit").btn.btn-lg.btn-primary.btn-block#ss-submit let's code
	
			div.ss-form-question.errorbox-good
			div(dir="ltr").ss-item.ss-text
			div.ss-form-entry
			label(aria-hidden="true", for="entry_1756228214").ss-q-item-label
				
			
			div.error-message




